<h1><%= @product.name %></h1>
<h3>Description: <%= @product.description %></h3>
<h3>Price: $<%= @product.price_in_cents %></h3>

<%= link_to 'Edit', edit_product_path %>
| <%= link_to 'Delete', product_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete the product '#{@product.name}'? This cannot be undone!"} %>
