<h1><%= @product.name %></h1>
<h3>Description: <%= @product.description %></h3>
<h3>Price: <%= @product.price_in_dollars %></h3>

<%= link_to 'Edit Product', edit_product_path(@product) %>
| <%= link_to 'Delete Product', product_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete the product '#{@product.name}'? This cannot be undone!"} %>


<h4>ADD New Review</h4>

<%= render 'reviews/form', review: @review %>


<h2>Reviews:</h2>
<ol>
  <% @product.reviews.each do |review| %>
    <li>
      <p> On <%= review.created_at %> <%= review.name %> said: </p>
      <p> <%= review.comment %> </p><p><%= link_to 'Edit Review', edit_product_review_path(@product, review) %></p>
    </li>
  <% end %>
</ol>
